
body {
  background-color: #EEF1FF;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:7px;
  width: 7%;
  height: 0;
}
h1  {
    font-size: 75px;
    color:  #B1B2FF;
    font-family: papyrus, fantasy;
}
h3 {
  color: #B1B2FF;
    font-family: papyrus, fantasy;
}
p {
  font-family: papyrus, fantasy;
}
li {
  font-family: papyrus, fantasy;
}
td {
  font-family: papyrus, fantasy;
}

 a {font-size: 20px;
font-family: papyrus, fantasy;}

.align-content {
  justify-content: center;
}

.luxury-home-picture {
  position: relative;
  left: 210px;
  top:40px;
}
ul{
  justify-content: center;
}
